#footer{
	background-color:$blue1;
	height:em(250);
	padding-bottom:em(30);
	padding-top:em(-5);
	margin-top:3em;
	width:101.5%;
	margin-left:-13px;
	
	hr{
		width:96%;
		margin-left:-1em;
	}
}

.copyright{
	margin-top:1em;
	line-height:1.5em;
}

.copyright, .copyright a{
	color:$blue3;
	text-decoration:none;
	
}

.copyright a:hover, .copyright a:active{
	text-decoration:underline;
	border:none;
}

.bottom-logo{
	background:#fff;
	text-align:center;
	padding-bottom:.5em;
	margin-top:em(-10);
	color:#000;
	border-radius: 0px 0px 10px 10px; 
	-moz-border-radius: 0px 0px 10px 10px; 
	-webkit-border-radius: 0px 0px 10px 10px; 
	border: 0px solid #800000;
}
#footer .bottom-logo p{
	color:#000;
}

