#footer{
	background-color:$blue1;
	height:em(250);
	padding-bottom:em(30);
	padding-top:em(-5);
	
}

.copyright, .copyright a{
	color:$blue3;
	
}

.copyright a:hover, .copyright a:active{
	text-decoration:hover;
}

.bottom-logo{
	background:#fff;
	text-align:center;
	padding-bottom:.5em;
	margin-top:em(-10);
	color:#000;
}
.bottom-logo p{
	color:#000;
}


