img, iframe{
	border:3px solid $gray3;
}

button{
	outline:none;
	border:none;
	color:white;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	text-shadow: none;
}

a.button, #footer button{
	outline:none;
	border:none;
	margin:0 auto;
	color:white;
	background-color:$blue2;
	background-image: linear-gradient(bottom, rgb(17,65,85) 7%, rgb(20,82,105) 54%);
	background-image: -o-linear-gradient(bottom, rgb(17,65,85) 7%, rgb(20,82,105) 54%);
	background-image: -moz-linear-gradient(bottom, rgb(17,65,85) 7%, rgb(20,82,105) 54%);
	background-image: -webkit-linear-gradient(bottom, rgb(17,65,85) 7%, rgb(20,82,105) 54%);
	background-image: -ms-linear-gradient(bottom, rgb(17,65,85) 7%, rgb(20,82,105) 54%);
	color:white;
	display:block;
	text-decoration:none;

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(17,65,85)),
		color-stop(0.54, rgb(20,82,105))
	);

	text-align:center;
	
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#footer button{
	margin-left:0;
	top:-5px;
}

a.button:hover, #footer button:hover, a.button:active, #footer button:active{
	background-color:$blue1;
	background-image: linear-gradient(bottom, rgb(17,65,85) 7%, rgb(17,65,85) 54%);
	background-image: -o-linear-gradient(bottom, rgb(17,65,85) 7%, rgb(17,65,85) 54%);
	background-image: -moz-linear-gradient(bottom, rgb(17,65,85) 7%, rgb(17,65,85) 54%);
	background-image: -webkit-linear-gradient(bottom, rgb(17,65,85) 7%, rgb(17,65,85) 54%);
	background-image: -ms-linear-gradient(bottom, rgb(17,65,85) 7%, rgb(17,65,85) 54%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(17,65,85)),
		color-stop(0.54, rgb(17,65,85))
	);
}

.clear{
	clear:both;
}

hr{
	outline:none;
	border:none;
	color:$gray4;
	height:2px;
	width:100%;
}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:99999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width: none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxContent{margin-top:20px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; bottom:10px; left:14px; margin-top:-32px; background:url(../imgs/controls.png) no-repeat top left; width:26px; height:26px; text-indent:-9999px;background-position:-75px 0;}
        #cboxPrevious:hover{background-position:bottom left;background-position-x:-74px;left:13px;bottom:11px;background-position:-74px -24px;}
        #cboxNext{position:absolute; bottom:10px; left:41px; margin-top:-32px; background:url(../imgs/controls.png) no-repeat top right; width:27px; height:26px; text-indent:-9999px;background-position:-49px 0;}
        #cboxNext:hover{background-position:bottom right;background-position-x:-50px;left:42px;bottom:11px;background-position:-50px -24px;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(../imgs/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:9px; right:10px; display:block; background:url(../imgs/controls.png) no-repeat top center; width:34px; height:25px; text-indent:-9999px;background-position:-16px 0;}
        #cboxClose:hover{background-position:bottom center;background-position:-16px -25px;}

/* COLORBOX END */

.pop-logo.white img { background-color: #000;}

.pop-logo{
	float:left;
	margin-right:8px;
	text-align:center;
	width:218px;
	margin-top:21px;
	padding-bottom: 2em;
	
	img{
		width:72%;
		border:none;
	}
	
	button{
		width:120px;
		height:34px;
		margin-bottom:25px;
		
		a{
			position:relative;
			top:6px;
			font-size:14px;
		}
	}
}


section.fourohfour {
	background:url('../imgs/fourohfour-viking.jpg') no-repeat top left;
	height:em(450);
	margin-top:-8em;

	ul{
		margin-top:-.5em;
		margin-bottom:-.5em;
	}
	.blue3{
		color:$blue3;
		}
	
	h3{
		line-height:1.263em;
	}
}

#wpstats{
	display:none;
}

.slide {
	img, h1 {margin-bottom: 1em;}
}	