section#publishers, section#networks, section#advertisers {
	div{
		text-align:center;
	    display: -webkit-flexbox;
	    display: -moz-flexbox;
	    display: -ms-flexbox;
	    display: -o-flexbox;
	    -webkit-flex-flow: row;
	    -moz-flex-flow: row;
	    -ms-flex-flow: row;
	    -o-flex-flow: row;
		padding:0;
		height:;
	
		.bronze-support, .white-label, .get-started, .network-tools, .silver-support, .advertiser-mode{
			width:em(160);
			display:block;
			    /* width: -webkit-flex(1 160px); */
			    /* width: -moz-flex(1 160px); */
			    /* width: -ms-flex(1 160px); */
			    /* width: -o-flex(1 160px); */
			    /* -webkit-flex-align: center; */
			    /* -moz-flex-align: center; */
			    /* -ms-flex-align: center; */
			    /* -o-flex-align: center; */
		} 
	}
	
	.price-packages{
		background-color:$gray4;
		width:96%;
	}

	ul{

	}
	
	ul li{
	list-style-type:none;
	padding:0px;
	margin:0px;
	}
}