/* COLOPHON
* Typography designed using Typecast – http://typecastapp.com
* Display type: Proxima Nova Extra Condensed designed by Mark Simonson, http://www.myfonts.com/person/Mark_Simonson/
* Body type: Gesta designed by Rui Abreu, http://r-typography.com
* Type served by http://typekit.com */


a:link {
	color: rgba(0, 102, 204, 1.00);
}

a:visited {
	color: rgba(153, 0, 153, 1.00);
}
a:hover {
	color: rgba(0, 102, 204, 1.00);
	text-decoration: none;
}

strong{font-weight:700;}
em{font-style:italic;}


h1 {
	font-size: em(102);
	line-height: em(53);
	font-family: proxima-nova-extra-condensed, sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin:0;
	margin-top:em(-29);
}
h1.sassytext {
	font-size: em(48);
	color: $orange;
	margin:0;
	margin-top:em(-10);
	font-weight: 700;
	text-align:center;
}
h2 {
	font-size: em(32);
	line-height: em(42);
	font-family: proxima-nova-extra-condensed;
	letter-spacing: 0px;
	text-transform:uppercase;
	color: rgba(9, 41, 55, 1.00);
	font-style: normal;
	font-weight: 700;
	margin-bottom: 1px;
	margin-top: 0.5em;
}
h2.subtext {
	color: $blue3;
	font-style: normal;
	font-weight: 400;
	font-family: gesta;
	font-size: em(16);
}
h2.subtext a:link {
	color: $blue3;
}
h3 {
	font-size: em(36);
	font-style: normal;
	font-weight: 300;
	font-family: gesta;
	line-height: em(42);
	letter-spacing: 0px;
	margin-bottom: 0px;
	margin-top: em(26);
	color: rgba(0, 0, 0, 1.00);
}
h3.ad-bold {
	font-weight: 700;
	font-style: normal;
	font-size: 60px;
}
h3.ad-light {
	font-weight: 300;
	font-style: normal;
	font-size: 60px;
}
h3.quote {
	line-height: em(55);
	margin-top: 0px;
}
aside.pricing h3 {
	font-weight: 700;
	font-style: normal;
	font-size: em(18);
	line-height: em(34);
	margin-top: 0px;
	letter-spacing:0;
	margin-bottom: 1px;
}
h4 {
	font-family: gesta;
	font-weight: 700;
	font-style: normal;
	font-size: em(16);
	color: rgba(0, 0, 0, 1.00);
}
#footer h3 {
	font-style: normal;
	font-weight: 700;
	font-family: gesta;
	font-size: em(18);
	color: rgba(255, 255, 255, 1.00);
}
h4.gray {
	color: $gray1;
	font-size: em(16);
	font-style: normal;
	font-weight: bold;
	font-family: gesta;
}
h4.orange {
	color: $orange;
}
h5 {
	font-family: Arial;
	letter-spacing: 1px;
	line-height: em(26);
	font-size: em(16);
}
h6 {
	font-family: Arial;
	font-weight: 400;
	font-style: italic;
	line-height: em(26);
	font-size: em(16);
	letter-spacing: 0px;
}

p a:link {
	color: rgba(0, 0, 0, 1.00);
}
p.figcaption {
	font-size: 14px;
	color: $orange;
}
#footer p, #footer ul a {
	font-size: 14px;
	color: rgba(255, 255, 255, 1.00);
	text-decoration:none;
}

#footer a:hover, #footer a:active{
	text-decoration:underline;
}

#footer h2{
	font-size:3.75em;
	line-height:.75em;
}

#footer ul, #footer li{
	margin:0;
	padding:0;
}

#footer li{
	list-style-type:none;
}

#footer section .bottom-logo p{
	color:#000;
}


p.gray {
	color: $gray1;

	a:link {
		text-decoration:underline;
	}

	a:hover {
		color: $gray1;
	}

}


aside {
	font-size: em(14);
	p{
		color: $gray1;
		line-height:em(28);
		margin-top:-.25em;
		}
	
 	ul {
		color:$blue3;
		padding:0;
	
		strong {
			color:#000;
			}
			
		li{
			list-style-type:none;
			margin-left:0;
			line-height:em(23);
			margin-top:em(10);
		}
	}
}