/* COLOPHON
* Typography designed using Typecast – http://typecastapp.com
* Display type: Proxima Nova Extra Condensed designed by Mark Simonson, http://www.myfonts.com/person/Mark_Simonson/
* Body type: Gesta designed by Rui Abreu, http://r-typography.com
* Type served by http://typekit.com */

@import "config";

body {
	font-size: 16px;
	line-height: 28px;
	font-family: gesta;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0px;
	margin-bottom: 1em;
	margin-top: 0px;
	color: rgba(0, 0, 0, 1.00);
}
a:link {
	color: rgba(0, 102, 204, 1.00);
}
blockquote {
	font-family: Arial;
	font-size: 26px;
	line-height: 42px;
	font-style: italic;
}
a:visited {
	color: rgba(153, 0, 153, 1.00);
}
a:hover {
	color: rgba(0, 102, 204, 1.00);
	text-decoration: none;
}
h1 {
	font-size: 102px;
	line-height: 53px;
	font-family: proxima-nova-extra-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1.00);
}
h1.sassytext {
	font-size: 48px;
	color: $orange;
	line-height: 44px;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 0.4em;
}
h2 {
	font-size: 32px;
	line-height: 42px;
	font-family: proxima-nova-extra-condensed;
	letter-spacing: 0px;
	color: rgba(9, 41, 55, 1.00);
	font-style: normal;
	font-weight: 700;
	margin-bottom: 1px;
	margin-top: 0.5em;
}
h2.subtext {
	color: $blue3;
	font-style: normal;
	font-weight: 400;
	font-family: gesta;
	font-size: 16px;
}
h2.subtext a:link {
	color: $blue3;
}
h3 {
	font-size: 36px;
	font-style: normal;
	font-weight: 300;
	font-family: gesta;
	line-height: 42px;
	letter-spacing: 0px;
	margin-bottom: 0px;
	margin-top: 26px;
	color: rgba(0, 0, 0, 1.00);
}
h3.ad-bold {
	font-weight: 700;
	font-style: normal;
	font-size: 60px;
}
h3.ad-light {
	font-weight: 300;
	font-style: normal;
	font-size: 60px;
}
h3.quote {
	line-height: 55px;
	margin-top: 0px;
}
h3.sidebar-title {
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 34px;
	margin-top: 0px;
	margin-bottom: 1px;
}
h4 {
	font-family: gesta;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 1.00);
}
h4.footer-title {
	font-style: normal;
	font-weight: 700;
	font-family: gesta;
	font-size: 18px;
	color: rgba(255, 255, 255, 1.00);
}
h4.gray {
	color: $gray1;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-family: gesta;
}
h4.orange {
	color: $orange;
}
h5 {
	font-family: Arial;
	letter-spacing: 1px;
	line-height: 26px;
	font-size: 16px;
}
h6 {
	font-family: Arial;
	font-weight: 400;
	font-style: italic;
	line-height: 26px;
	font-size: 16px;
	letter-spacing: 0px;
}

p a:link {
	color: rgba(0, 0, 0, 1.00);
}
p.figcaption {
	font-size: 14px;
	color: $orange;
}
p.footer-white {
	font-size: 14px;
	color: rgba(255, 255, 255, 1.00);
}
p.gray {
	color: $gray1;
}
p.gray a:link {
	text-decoration:underline;
}
p.gray a:hover {
	color: $gray1;
}
.sidebar p{
	font-size: em(14);
	color: $gray1;
}
