@charset "UTF-8";
/* COLOPHON
* Typography designed using Typecast – http://typecastapp.com
* Display type: Proxima Nova Extra Condensed designed by Mark Simonson, http://www.myfonts.com/person/Mark_Simonson/
* Body type: Gesta designed by Rui Abreu, http://r-typography.com
* Type served by http://typekit.com */
body {
  font-size: 16px;
  line-height: 28px;
  font-family: gesta;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  margin-bottom: 1em;
  margin-top: 0px;
  color: black;
}

a:link {
  color: #0066cc;
}

blockquote {
  font-family: Arial;
  font-size: 26px;
  line-height: 42px;
  font-style: italic;
}

a:visited {
  color: #990099;
}

a:hover {
  color: #0066cc;
  text-decoration: none;
}

h1 {
  font-size: 102px;
  line-height: 53px;
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

h1.sassytext {
  font-size: 48px;
  color: #e35525;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.4em;
}

h2 {
  font-size: 32px;
  line-height: 42px;
  font-family: proxima-nova-extra-condensed;
  letter-spacing: 0px;
  color: #092937;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1px;
  margin-top: 0.5em;
}

h2.subtext {
  color: #138caa;
  font-style: normal;
  font-weight: 400;
  font-family: gesta;
  font-size: 16px;
}

h2.subtext a:link {
  color: #138caa;
}

h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  font-family: gesta;
  line-height: 42px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  margin-top: 26px;
  color: black;
}

h3.ad-bold {
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}

h3.ad-light {
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
}

h3.quote {
  line-height: 55px;
  margin-top: 0px;
}

h3.sidebar-title {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 34px;
  margin-top: 0px;
  margin-bottom: 1px;
}

h4 {
  font-family: gesta;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  color: black;
}

h4.footer-title {
  font-style: normal;
  font-weight: 700;
  font-family: gesta;
  font-size: 18px;
  color: white;
}

h4.gray {
  color: #666666;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-family: gesta;
}

h4.orange {
  color: #e35525;
}

h5 {
  font-family: Arial;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 16px;
}

h6 {
  font-family: Arial;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 0px;
}

p a:link {
  color: black;
}

p.figcaption {
  font-size: 14px;
  color: #e35525;
}

p.footer-white {
  font-size: 14px;
  color: white;
}

p.gray {
  color: #666666;
}

p.gray a:link {
  text-decoration: underline;
}

p.gray a:hover {
  color: #666666;
}

.sidebar p {
  font-size: 0.875em;
  color: #666666;
}
