.page-id-29 section{
	display:block;
}

#intro {
	border-bottom:1px solid $gray4;
	height:em(272);
	margin-bottom:1em;
	
	.button{
		width:43%;
		top:.35em;
		font-size:1.11em;
		padding:.75em .5em;
		margin-left:0;
	}
	
	h4{
		font-size:1.5em;
		margin-top:0;
	}
	
	div.text{
		width:em(580);
		display:block;
		float:left;
	}
	
	p{
		margin-top:em(-17);
	}


	.isfor-video{
		float:right;
	}
}


#built-for {
	border-bottom:1px solid $gray4;
	padding-bottom:2em;
	margin-bottom:2em;
	
	ul{
		padding-left:0;
		margin-top:0;
		display:block;
		width:100%;
		height:18em;
	}

	ul.more-features-show{
		height:18em;
	}
	p{	
		color:$gray2;
	}

	li{
		width:20.06em;
		float:left;
		margin-right:2.09em;
		min-height:227px;

		a:link, a:visited{
			text-decoration:none;
			color:$gray1;

		}

		strong{
			font-weight:500;
		}
	}
	
	li:nth-of-type(3n+3){
		margin-right:0;
	}
	
	button{
		background:$gray3;
		font-size:.95em;
		padding:em(10);
		margin:0 403px;
		margin-top:em(9);
		text-align:center;
		width:10em;
	}
	
	button:hover, button:active, button:focus{
		background:$gray2;
	}
}

.arrow-after:after{
	content:url('../imgs/icons/arrow-after.gif');
	position:relative;
	padding-left:.5em;
	
}
div.morefeaturesdiv{
	display:inline-block;
}
section#customers{
	border-bottom:1px solid $gray4;
	margin-bottom:1em;
	padding-bottom:0;


	h2{
		padding-bottom:1em;
	}
}

#cust-testimonials{
	color:$gray2;
	
	h2{
		padding-bottom:2em;
	}
	
	blockquote{
		font-family: gesta;
		font-weight: 500;
		font-style: normal;
		font-size: em(28);
		line-height:em(20);
		color: rgba(0, 0, 0, 1.00);
		margin-top:-1em;
		padding-bottom:0;
		margin-bottom:0;
	}
}

#cust-testimonials{
	padding-right:2em;
	
	.testy-info{		
		img{
			width:em(104);
		}
	}
	
	.testimonial{
		margin-top:1em;
	}
	.testimonial:nth-of-type(1){
		margin-top:0;
	}
	
	.testimonial:nth-of-type(odd){
		.testy-info{
			float:left;
			padding-right:1.5em;
		}
	}
	.testimonial:nth-of-type(even){
		.testy-info{
			float:right;
			padding-left:1.5em;
		}

		.testy-content{
			text-align:right;
		}
	}
}

aside#powered-by-ados{
	float:right;
	width:em(200);
	border-left:1px solid $gray4;
	padding-left:2em;
	text-align:center;
	height:em(925);
	
	img{
		max-width:em(180);
		border:none;
		outline:none;
		margin: .5em 0;
	}
	
	li:nth-of-type(1){
		margin-top:-30px;
	}
}

#world-class-ad-serving h2{
	margin-bottom:.5em;
}

.for-blank-pricing{
	background:$gray4;
	float:left;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	padding:em(15);
	padding-right:0;
	min-height: 20.5em;
	
	h4,p.gray,div.network-tools{
		margin-left:em(15);
	}
	
	.get-started{
		margin-top:2.2em;
		margin-left:27%;
		display:inline-block !important;
		font-size: .875em;
		line-height: auto;
		padding: 0.65em;
		font-style: normal;
	}
	
	
	.price-packages{
			margin-left:1em;
			font-size:em(14);

			div{
				width:em(200);
				float:left;
				margin-right:em(25);
				color:$gray2;
				padding-left:0;
				display:inline-block;
			}
			
			div:nth-of-type(3){
				margin-right:0;
			}
	}
	
	ul{
		padding-left:0;
	}
	h6{
		color:black;
	}
	li{
		margin-left:-1.25em;
		color:$blue2;
	}
	li:before{
		content:url('../imgs/icons/check-forblank.gif');
		top:em(3);
		padding-right:.35em;
		position:relative;
		
	}
	
}

#world-class-ad-serving aside.enterprise{
	margin-left:0 !important;
	height: 25.5em;
	
	blockquote{
		margin-left:em(15);
		line-height:em(21);
		margin-top:em(-10);
		padding-top:0;
	}
	
	h4, p, img, p.ron{
		margin-left:em(15);
	}
	
	h4{
		font-size:em(18);
		margin-top:1.6em;
	}
	
	img{
		float:left;
		margin-right:.5em;
		margin-left:0;
	}
	
	button{
		margin:em(-4) 0 em(18) 5.45em;
	}
	
	a{padding:.65em;}
}


/*
	Slideshow style
*/

#slides {
	z-index:100;
	position:relative;
	float:right;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/

.slides_container {
	width:400px;
	height:230px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides .slide {
	padding:20px;
	width:530px;
	height:230px;
	display:block;
}

/*
	Next/prev buttons
*/
#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:12px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../imgs/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}
