section#publishers, section#networks, section#advertisers {
	padding:1em 0;

	div{
		text-align:center;
		
	}
	
	.price-packages{
		background-color:$gray4;
		height:em(225);
		padding: 1em 0;
		margin-bottom:1.5em;
				
		border-radius: 5px; 
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px;
	}

	ul{
		padding-left:0 !important;
	}
	
	ul li{
	list-style-type:none;
	padding-left:0 !important;
	margin:0px;
	color:$gray1;
	font-size:.95em;
	line-height:1.5em;
	}

	.bronze-support, .white-label, .get-started, .network-tools, .silver-support, .advertiser-mode{
		width:em(200);
		display:block;
		float:left;
		margin-right:em(20);
	} 
}

section#publishers{
	padding-top:0;
	padding-bottom:em(92);
	margin-bottom:em(7);
	border-bottom:1px solid $gray4;
	
	h2{
		margin-top:0;
	}
}

button.get-started {
	padding:.75em;
	min-width:em(300);
	min-height:5em;
	margin-left:36%;
	
	a{
		display:block;		
		font-style:italic;
		font-size:1em;
		color:white;
		
		strong{
			font-style:normal;
			font-size:1.25em;
		}

	}
}

aside.pricing h4{
	margin-top:1em;
}
